span{
    color: springgreen;
}

.main  {
    display:flex;
   justify-content: space-between;
    text-transform: uppercase;
   
}

#team{
    display: flex;
}

#pic4{
    float: right;
}

strong{
font-style: italic;
}

.motto{
background-color: blanchedalmond;
}

.contacts{
padding:20px;
color:green;
}